

a{
    text-align: left;
    font-size: 30px;
    text-decoration: none;
}

a:hover{
    color: skyblue;
}

a:active{
    color: blue;
}

div{
    text-align: center;
}

.usuario{
    font-size: 30px;
    margin: 2em;
    text-align: left;
}

.senha{
    font-size: 30px;
    margin: 2em;
    text-align: left;
}