@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playwrite+BE+WAL:wght@100..400&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    border: 0px;
    padding: 0px;
}

header{
    padding: 2rem 0rem 0rem 0rem;
    font-family: "Playwrite BE WAL", cursive;
    text-align: center;
    background-color: black;
    color: white;
    font-weight: bold;
}

a{
    font-family: "Inter", sans-serif;
    text-decoration: none;
    font-size: 30px;
    color: white;
}

a:hover{
    color: skyblue;
}

a:active{
    color: blue;
}

div{
    text-align: center;
}

.usuario{
    font-size: 30px;
    margin: 2em;
    text-align: left;
}

.senha{
    font-size: 30px;
    margin: 2em;
    text-align: left;
}